@use "base";
// Class naming convention changed to match provided react-burger-menu component

// Burger Menu Default CSS
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 36px;
  transition: ease-out 1s;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: base.$button-white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: base.$button-red;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin: 5px 10px;
  width: 34px !important;
  height: 34px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: base.$button-white;
  font-size: 2rem;
  width: 5px !important;
  height: 32px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: base.$secondary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  color: base.$button-white;
  position: relative;
}

/* Individual item */
.bm-item {
  width: 100%;
  font-size: 2rem;
  display: flex !important;
  padding: base.$burgermenu-buttons-gap 0;
  a {
    display: inline-grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    align-items: center;
  }
  svg {
    @include base.flexCenter();
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.user-button {
  position: absolute;
  bottom: 5%;
}
