@use "base";

// Main App Component
.app {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background: base.$primary-color;
}

// Resets
input {
  outline: none;
  background-color: transparent;
}

// Sidebar Component
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.position {
    position: fixed;
    margin: base.$margin-top 0 0 1.85rem;
    padding: 20px;
    z-index: 99;
  }
  &.dimensions {
    border-radius: 14px;
    width: base.$sidebar-width;
    height: base.$sidebar-height;
    min-height: base.$sidebar-height-min;
  }
  &.hidden {
    margin-left: calc(base.$sidebar-hide-button-width - base.$sidebar-width);
  }
  .buttonsContainer {
    height: 85%;
    display: flex;
    flex-direction: column;
  }
  .toggleVisibilityButton {
    @include base.absCenterVertically;
    right: 0.1rem;
    border-radius: 4px;
    width: 10px;
    height: 150px;
  }

  @media screen and (max-width: base.$phone-breakpoint) {
    visibility: hidden;
  }
}

// Searchbar Component
.searchbar {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  &.position {
    padding-left: 5px;
  }
  &.dimensions {
    width: base.$searchbar-width-pc;
    height: base.$searchbar-height;
    @media screen and (max-width: base.$phone-breakpoint) {
      width: base.$searchbar-width-phone;
    }
  }
}

// Auth Component
.auth {
  justify-content: center;

  &.position {
    margin: auto;
    z-index: 99;
  }
  &.dimensions {
    border-radius: 0.5rem;
    width: 85%;
    max-width: 400px;
    height: 25rem;
    @media screen and (max-width: base.$phone-breakpoint) {
      width: 100%;
      height: 100%;
    }
  }
}

// Form Component
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.dimensions {
    padding: 1rem;
    &.login {
      height: 15rem;
    }
    &.register {
      height: 20.2rem;
    }
  }
  .input {
    &.position {
      padding: 0 0.85rem;
    }
    &.dimensions {
      width: 100%;
      height: 2rem;
      border-radius: 0.55rem;
    }
    &.styles {
      color: black;
      background: white;
    }
  }
  label {
    padding-left: 0.25rem;
  }
  .button {
    &.position {
      margin: 0 auto;
    }
    &.dimensions {
      border-radius: 0.45rem;
      width: 8rem;
      height: 2.6rem;
    }
  }
  .error {
    &.position {
      position: absolute;
      padding: 0.15rem 0 0 0.15rem;
    }
    &.styles {
      font-size: 0.75rem;
      color: red;
    }
  }
}
