@import "../../layout/mixins";
@import "../../layout/layout";
.sidebarMenuContainer {
  position: fixed;
  top: $marginTop;
  margin: 0 1.85rem;
  padding: 20px;
  border-radius: 14px;
  width: $sidebarWidth;
  height: $sidebarHeight;
  min-height: $sidebarMinHeight;
  background: $sidebarBgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out;
  transition-duration: 1s;
  z-index: 99;
  button {
    transition: ease-in-out;
    transition-duration: 0.35s;
  }
  @media screen and (max-width: $breakpointPhone) {
    visibility: hidden;
  }
}

.hidden {
  margin-left: calc(12px - $sidebarWidth);
}

.homeBtn {
  color: $uiRed;
  &:hover {
    color: darken($color: $uiRed, $amount: 20%);
  }
}

.submenuContainer {
  @include absCenterHorizontally;
  top: 10%;
  display: flex;
  flex-direction: column;
  button {
    @include flexCenter;
    color: $buttonColor;
    margin: 10px 0;
  }
  @media (max-height: 500px) {
    top: 18%;
  }
}

.userBtn {
  margin: 0 auto;
  color: $buttonColor;
}

.iconColor {
  transition: ease-in-out;
  transition-duration: 0.35s;
  &:hover {
    color: transparentize($color: white, $amount: 0.2);
  }
}

.menuItem {
  width: 90%;
  text-align: left;
  svg {
    display: inline;
  }
  &:last-child {
    padding: 0.55rem 5%;
    position: absolute;
    bottom: 5%;
    width: 83%;
  }
  &:hover {
    background: lighten($color: $sidebarBgColor, $amount: 20%);
  }
}

.visibilityBtn {
  @include absCenterVertically;
  right: 0.1rem;
  border-radius: 4px;
  width: 10px;
  height: 150px;
  color: $buttonColor;
  &:hover {
    background-color: lighten($color: $sidebarBgColor, $amount: 10%);
  }
}

.userAction {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  background: $sidebarBgColor;
  color: white;
  button {
    &:hover {
      background: lighten($color: $sidebarBgColor, $amount: 10%);
    }
  }
}

.validateFormWrapper {
  @include absCenterXY();
  width: 500px;
  height: 500px;
  background: $sidebarBgColor;
  color: white;
}
