$height: calc(100% - 40px - 20px);
// $width: 1120px;
$width: 100%;

.contentContainer {
  height: $height;
  width: $width;
  max-width: $width;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}

.stateDisplay {
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
}
