$height: calc(100% - 40px - 20px);
$width: 1120px;

.contentContainer {
  height: $height;
  width: $width;
  max-width: $width;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}
