@use "../../sass/base";

$height: calc(100% - 40px - 20px);
// $width: 1120px;
$width: 100%;

$marginTop: 0vh;
$mediaContainerWidthFull: calc(100vw - 150px);
$mediaContainerWidthPhone: 99%;
$mediaContainerWidthThin: 99%;
$mediaContainerWidthThinBreakpoint1: 97%;

.mediaContainer {
  margin-top: $marginTop;
  width: $mediaContainerWidthFull;
  float: right;
  background: transparent;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 1s;
  @media screen and (max-width: base.$phone-breakpoint) {
    width: $mediaContainerWidthPhone;
  }
}

.thin {
  width: $mediaContainerWidthThin;
  @media (max-width: base.$tablet-breakpoint) {
    width: $mediaContainerWidthThinBreakpoint1;
  }
}

.contentContainer {
  height: $height;
  width: $width;
  max-width: $width;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}

.stateDisplay {
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
}
