$marginTop: 5vh;
$mediaContainerWidthFull: calc(100vw - 150px);
$mediaContainerWidthThin: 99%;

.mediaContainer {
  margin-top: $marginTop;
  width: $mediaContainerWidthFull;
  float: right;
  background: transparent;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 1s;
}

.thin {
  width: $mediaContainerWidthThin;
}
