$marginTop: 5vh;
$mediaContainerWidthFull: calc(100vw - 150px);
$mediaContainerWidthThin: calc(100vw - 40px);

.mediaContainer {
  margin-top: $marginTop;
  width: $mediaContainerWidthFull;

  float: right;
  justify-self: end;
  background: transparent;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 1s;
}

.thin {
  width: $mediaContainerWidthThin;
}
