@import "../../layout/layout";

@mixin overflow-setup($x, $y) {
  overflow-x: $x;
  overflow-y: $y;
}

@mixin size-setup($width, $height) {
  width: $width;
  min-width: $width;
  height: $height;
  min-height: $height;
}

//Breakpoints
$breakpoint1: 768px;

//Long (trending) display
.themeLong {
  @include size-setup(100%, fit-content);
  @include overflow-setup(scroll, hidden);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

// Short (normal) display
.themeShort {
  @include size-setup(100%, min-content);
  @include overflow-setup(hidden, hidden);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 0.7rem;
  justify-content: space-between;
  @media screen and (max-width: $breakpointPhone) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.wrapper {
  height: fit-content;
  width: 100%;
  max-width: 100%;

  h2 {
    width: 100%;
    font-size: 1.5rem;
    @media screen and (max-width: $breakpointPhone) {
      text-align: center;
    }
  }
}

.subcontentContainer {
  padding-bottom: 1rem;
  &::-webkit-scrollbar {
    height: 10px;
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
  }
}
