@use "../../sass/base";
//### THEME ALL ###
// Size
$imageBorderRadius: 8px;
$descHeight: 40px;
$titleFontSize: 1rem;
$titleFontWeight: 600;
$infoFontSize: 0.65rem;
// Color
$infoFontWeight: 300;
$infoFontColor: rgba(255, 255, 255, 0.75);

//### THEME SHORT ###
$elementHeightShort: 150px;
$picHeightShort: calc($elementHeightShort - $descHeight);
$picWidthShort: 170px;

.themeShort {
  max-width: 220px;
  min-width: 150px;
  flex: 1 1 180px;
  flex-basis: 0;

  .description {
    padding-top: 0.3rem;
  }
  @media screen and (max-width: base.$phone-breakpoint) {
    max-width: 100%;
  }
}

//### THEME LONG ###
$elementHeightLong: 150px;
$elementWidthLong: 320px;

.themeLong {
  @include base.size-setup($elementWidthLong, $elementHeightLong);
  .imgWrapper {
    @include base.size-setup(320px, 150px);
    overflow: hidden;
  }
  .description {
    @include base.abs-position(none, none, 0.4rem, 1rem);
  }
}

//### ALL THEMES ###
.element {
  position: relative;
  .imgWrapper {
    border-radius: $imageBorderRadius;
    overflow: hidden;
    position: relative;

    &:hover {
      img {
        transform: scale(1.05);
      }
      .hoverLayer {
        opacity: 1;
      }
    }
    img {
      object-fit: cover;
      transition: ease-in-out, 0.35s;
      cursor: pointer;
      background: black;
    }
  }
}
.hoverLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  opacity: 1;
}

.imgHoverEffect {
  transform: scale(1.05);
  &:hover {
    transform: scale(1.05);
  }
}

.description {
  height: $descHeight;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 19;
  .info {
    display: inline-flex;
    color: $infoFontColor;
    font-size: $infoFontSize;
    font-weight: $infoFontWeight;
    li {
      display: inline-flex;
      &::before {
        content: "•";
        margin-right: 5px;
        margin-left: 5px;
      }
      &:first-child::before {
        content: "";
        margin: 0px;
      }
    }
  }
  .info_category {
    display: inline-flex;
    align-items: center;
    svg {
      height: $infoFontSize;
      width: $infoFontSize;
    }
  }
  h3 {
    font-size: $titleFontSize;
    font-weight: $titleFontWeight;
  }
  ul,
  h3 {
    width: fit-content;
    &:hover {
      cursor: pointer;
    }
  }
}

.playBtn {
  width: 20%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem;
}

.bookmarkPos {
  @include base.abs-position(6%, 4%, none, none);
}
