@use "../../sass/base";
@use "../../sass/layout";

.sidebarStyles {
  background: base.$secondary-color;
  button {
    @include base.flexCenter;
    color: base.$button-white;
    margin: base.$sidebar-buttons-gap 0;
  }

  .homeButton {
    color: base.$button-red;
    &:hover {
      color: darken($color: base.$button-red, $amount: base.$darken-amount);
    }
  }
}

.effects {
  transition: ease-in-out base.$menu-hide-time;

  button {
    transition: ease-in-out base.$button-hover-time;

    &:hover {
      color: lighten($color: base.$button-white, $amount: base.$lighten-amount);
    }
  }
}

.toggleVisibilityButtonStyles {
  color: base.$button-white;
  &:hover {
    background-color: lighten($color: base.$secondary-color, $amount: 10%);
  }
}
