@import "../../layout/layout";
$height: 40px;
$width: 400px;
$widthPhone: 60%;
$fontSize: 1.35rem;

.searchbar {
  padding-left: 5px;
  height: $height;
  width: $width;
  background: transparent;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  font-size: $fontSize;
  align-items: center;
  @media screen and (max-width: $breakpointPhone) {
    width: $widthPhone;
  }
}

.input {
  width: 90%;
  background: inherit;
  &:focus-visible {
    outline: none;
  }
}
