@use "../../sass/base";

.authStyles {
  background: base.$secondary-color;
  color: base.$text-color;
  border: 1px solid black;
}

.tabStyles {
  width: 50%;
  font-size: 2rem;

  &:hover,
  &:focus,
  &:checked {
    background: lighten($color: base.$secondary-color, $amount: 10%);
  }
}

.tabLabelStyles {
  color: transparentize($color: base.$text-color, $amount: 0.2);
}
