@import "../../layout/mixins";
$btnSize: 24px;
$iconSize: 17px;
$enlargeOnHover: 4px;
$bgColor: rgba(0, 0, 0, 0.4);
$isBookmarkedColor: rgba(2, 255, 36, 0.8);

.bookmark {
  @include circle-setup($btnSize);
  background: $bgColor;
  transition: ease-in-out, 0.35s;
  &:hover {
    $posTranslate: ($btnSize + $enlargeOnHover - $btnSize) / 2;
    transform: translate($posTranslate, -$posTranslate);
    @include circle-setup($btnSize + $enlargeOnHover);
    background: transparentize($color: rgb(0, 0, 0), $amount: 0.6);
    .bookmarkIcon {
      @include size-setup(
        $iconSize + $enlargeOnHover,
        $iconSize + $enlargeOnHover
      );
    }
  }

  .bookmarkIcon {
    @include size-setup($iconSize, $iconSize);
    margin-left: 50%;
    transform: translateX(-50%);
    transition: ease-in-out, 0.35s;
  }
}

.bookmark_green {
  stroke: $isBookmarkedColor;
}
