// sizes
.md {
  width: 8rem;
  height: 2.6rem;
}

button {
  border-radius: 0.45rem;
  background-color: $uiRed !important;
  font-size: 1.5rem;
  &:hover {
    background-color: darken($color: $uiRed, $amount: 10%) !important;
  }
}
