@mixin absCenterVertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin absCenterHorizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size-setup($width, $height) {
  height: $height;
  width: $width;
  min-height: $height;
  min-width: $width;
  max-height: $height;
  max-width: $width;
}
@mixin circle-setup($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
  min-height: $size;
  min-width: $size;
}

@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
