$marginTop: 5vh;
$sidebarWidth: 70px;
$sidebarHeight: 90vh;
$sidebarMinHeight: 270px;

// COLORS
$mainBgColor: rgb(16, 20, 31);
$sidebarBgColor: rgb(22, 29, 47);
$buttonColor: rgba(248, 253, 254, 0.5);
$uiRed: rgba(254, 69, 75, 0.75);
$uiWhite: rgba(255, 255, 255, 1);

@mixin absCenterVertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin absCenterHorizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absCenterXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size-setup($width, $height) {
  height: $height;
  width: $width;
  min-height: $height;
  min-width: $width;
  max-height: $height;
  max-width: $width;
}
@mixin circle-setup($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
  min-height: $size;
  min-width: $size;
}

@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
