// @import "./mixins";

// form {
//   padding: 1rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   input {
//     width: 100%;
//     height: 2rem;
//     border-radius: 0.55rem;
//     color: black;
//     padding: 0 0.85rem;
//   }
//   label {
//     padding-left: 0.25rem;
//   }
//   button {
//     margin: 0 auto;
//     border-radius: 0.45rem;
//     width: 8rem;
//     height: 2.6rem;
//     background-color: $uiRed !important;
//     font-size: 1.5rem;
//     &:hover {
//       background-color: darken($color: $uiRed, $amount: 10%) !important;
//     }
//   }
//   .error {
//     position: absolute;
//     padding-top: 0.15rem;
//     padding: 0.15rem 0 0 0.15rem;
//     font-size: 0.75rem;
//     color: red;
//   }
// }
