@import "./mixins";

// colors
$mainBgColor: rgb(16, 20, 31);
$sidebarBgColor: rgb(22, 29, 47);
$buttonColor: rgba(248, 253, 254, 0.5);
$uiRed: rgba(254, 69, 75, 0.75);
$uiWhite: rgba(255, 255, 255, 1);
